.form-control {
    background-color: $darkness-green;
    border-radius: 0px;
    border-color: $cyber-green;
    color: white;
    &:focus {
        // color: #495057;
        // background-color: #fff;
        // border-color: #80bdff;
        // outline: 0;
        // box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
        background-color: $terminal-hover;
        border-color: $electric-blue;
        // box-shadow: 0 0 0 0.2rem rgba(0, 187, 255, 0.25);
        box-shadow: none;
        color: $electric-blue;
    }
}