.form-control {
    background-color: $darkness-green;
    border-radius: 0px;
    border-color: $cyber-green;
    color: white;
    &:focus {
        background-color: $terminal-hover;
        border-color: $electric-blue;
        box-shadow: none;
        color: $electric-blue;
    }
    
    &:disabled {
        background-color: $cyber-green-low-oppacity;
        background-clip: unset;
    }
}