.list-group {
// display: flex;
// flex-direction: column;
// padding-left: 0;
// margin-bottom: 0;
// border-radius: 0.25rem;
    border-radius: 0px;
    .list-group-item{
        position: relative;
        display: block;
        padding: 0.75rem 0.25rem;
        background-color: transparent;
        border: 0px;
        &:hover {
            background-color: $terminal-hover;
        }
    }
}