@import "~src/assets/scss/settings/colors";
@import "~src/assets/scss/settings/variables";
@import "~src/assets/scss/utilities/mixins";

.terminal-button {
  color: $green;
  border: 1px solid $green;
  background-color: $middle-green;
  font-family: Barlow-Regular;
  text-transform: uppercase;
  padding: 5px 5px 5px 10px;
  width: 250px;
  text-align: left;
  font-size: 1.5rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    bottom: -1px;
    right: -1px;
    border-left: $cut-corner solid $middle-green;
    border-bottom: $cut-corner solid $darkness-green;
  }
  &:after {
    content: '';
    position: absolute;
    width: 16px;
    height: 1px;
    background: $green;
    transform: rotate(-45deg);
    bottom: 5px; right: -3px;
  }
  &:hover {
    background-color: $green;
    color: $dark-green;
    &:before {
        border-left: $cut-corner solid $green;
    }
  }
}

.terminal-button--cyber-green {
  color: $cyber-green;
  background-color: $darkness-green;
  border: 1px solid $cyber-green;
  &::before {
    border-left: $cut-corner solid $darkness-green;
    border-bottom: $cut-corner solid $darkness-green;
  }
  &:after {
    background: $cyber-green;
  }
  &:hover {
    background-color: $cyber-green;
    color: $darkness-green;
    &:before {
      border-left: $cut-corner solid $cyber-green;
    }
  }

  &:disabled {
    border-color: $cyber-green-low-oppacity;
    color: $cyber-green-low-oppacity;
    &:after {
      content: '';
      position: absolute;
      width: 16px;
      height: 1px;
      background: $cyber-green-low-oppacity;
      transform: rotate(-45deg);
      bottom: 5px; right: -3px;
    }

    &:hover {
      background-color: $cyber-green-low-oppacity;
      border-color: $cyber-green-low-oppacity;
      color: $cyber-green-low-oppacity;
      &:before {
        border-left: $cut-corner solid transparent;
      }
    }
  }
}

