<section class="card card--cut-corner-bottom-right animate__animated animate__slideInLeft">
    <div class="card-header text-center" style="font-size: 1.4rem;">
        PROYECTOS
    </div>
    <div class="card-body p-2">
        <span class="just-code cyber-green-remarked ">QtVB8k2Ic5EfTPAy1B1iFI1H4OHfZ2</span>
        <p-carousel *ngIf="projects.length > 0" [styleClass]="'custom-carousel'" [value]="projects" [numVisible]="3" [numScroll]="3" [circular]="false"
            [responsiveOptions]="responsiveOptions">
            <ng-template let-project pTemplate="item">
                <div class="card m-1 card--cut-corner-bottom-right" style="height: 500px;">
                    <img [src]="project.image" alt="" class="card-img-top">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <div class="w-100">
                            <h5 class="card-title">
                                {{ project.name }}
                            </h5>
                            <p>{{ project.desc }}</p>
                        </div>
                        <button (click)="goToProjectUrl(project.url)" class="terminal-button terminal-button--cyber-green w-100">VER</button>
                    </div>
                </div>
            </ng-template>
        </p-carousel>
        <div *ngIf="projects.length <= 0">
            <div class="card card--cut-corner-bottom-right">
                <div class="card-body d-flex align-items-center" style="height: 250px;">
                    <div>
                        <h5>FETCHING DATA...</h5>
                        <app-decoding></app-decoding>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>