<main class="p-2">
    <div class="container">
        <span class="just-code">POwXnUaHo0cm3ic25MS0vvO7CCS1tQ</span>
        <div class="mb-2">
            <app-description></app-description>
        </div>
        <div class="mb-2">
            <app-some-code></app-some-code>
        </div>
        <div class="mb-2">
            <div class="row row-cols-1 row-cols-md-3">
                <div class="col-md-5">
                    <app-github-button></app-github-button>
                </div>
                <div class="col-md-7">
                    <app-skills></app-skills>
                </div>
            </div>
        </div>
    </div>
</main>