@import '~src/assets/scss/settings/colors';
@import '~src/assets/scss/utilities/mixins';

.card {
    height: calc(100vh - 80px);
    .card-body {
        overflow: scroll;
    }
    @media (orientation: landscape) {
        height: auto;
    }
    @include bootstrapmedia(md) {
        @media (orientation: landscape) {
            .card-body {
                overflow: scroll;
            }
        }
    }
    @include bootstrapmedia(lg) {
        @media (orientation: landscape) {
            height: 350px;
            .card-body {
                overflow: hidden;
            }
        }
    }
}

.languajes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    img {
        height: 1.3rem;
    }
    img, i {
        margin-right: 2px;
        @include bootstrapmedia(md) {
            margin-right: 0px;
        }
    }
}

.card-img-top {
    max-width: 230px;
}