<div class="card card--cut-corner-top-right animate__animated animate__slideInRight animate__fast h-100">
    <div class="card-header card-header--cyber-green">
        <i class="fas fa-vector-square"></i> SKILLS / FORTALEZAS
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="far fa-check-square"></i> Contexto</span>
                <span class="domain animate__animated animate__flipInX animate__faster">PENSAMIENTO ESTRATÉGICO</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="far fa-check-square"></i> Análisis</span>
                <span class="domain animate__animated animate__flipInX animate__faster">PENSAMIENTO ESTRATÉGICO</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="far fa-check-square"></i> Prudencia</span>
                <span class="domain animate__animated animate__flipInX animate__faster">EJECUCIÓN</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span><i class="far fa-check-square"></i> Empatía</span>
                <span class="domain animate__animated animate__flipInX animate__faster">CONSTRUIR RELACIONES</span>
            </li>
        </ul>
    </div>
</div>