$electric-blue: #6CF5F4;
$cyber-green: #DDFC57;
$green: #1AD675;
$middle-green: #198B4F;
$dark-green: #054522;
$darkness-green: #181118;
$cyber-red: #DD4642;
$dark-red: #36131A;
$darkness-blue: #090915;
$grey: #D2D4CD;
$terminal-hover: #282C38;
$electric-blue-low-oppacity: #6cf5f569;
$cyber-green-low-oppacity: #defc5754;
